<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Form Basics
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Input Form</a></li>
            <li><a href="/formData">Form Data</a></li>
        </ul>
      
    </div>
</nav>
