<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Employee Form</h2>
            <p>
                <form method="POST" action="/">
                First Name :    <input type="text" name="firstName"><br>
                Last Name :     <input type="text" name="lastName"><br>
                User Name :     <input type="text" name="userName"><br>
                Email :         <input type="email" name="email"><br>
                Date Of Birth : <input type="date" name="dob"><br>
                Gender :<br>    <input type="radio" name="gender" value="male"> Male<br>
                                <input type="radio" name="gender" value="female"> Female<br>
                Employee Code : <input type="text" name="employeeCode"><br>
                <input type="submit" value="Submit">
            </p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
